div,ul,li,h2 {
    margin:0px;
    padding:0px;
    font-size:100%;
    letter-spacing:0px;
    word-wrap:break-word
}
body {
    margin:0
        auto;
    padding:0px;
    color:#333333;
    font-size:12px;
    line-height:120%;
    text-align:center;
}
img {
    border:0px;
    -ms-interpolation-mode:bicubic
}
.cfix:after {
    content:".";
    display:block;
    height:0px;
    clear:both;
    visibility:hidden
}
.cfix {
    display:block
}
#wrapper {
    text-align:left
}
#container {
width: 600px;
}
@keyframes fade-in {
to {
opacity: 1;
}
}
@keyframes fade-in1 {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
.manga-card {
display: inline-block;
overflow: hidden;
position: relative;
top: .8rem;
animation: .3s swift-up ease-in-out forwards;
}
.fade-in {

    animation: 1s fade-in1 ease-in-out forwards;
    }

.manga-card i {
font-style: normal;
position: relative;
top: 2rem;
animation: .5s swift-up ease-in-out forwards;
}

@keyframes swift-up {
to {
top: 0rem;
}
}

.manga-card:nth-of-type(1) i {
animation-delay: 0s;
}

.manga-card:nth-of-type(2) i {
animation-delay: .1s;
}

.manga-card:nth-of-type(3) i {
animation-delay: .2s;
}

.manga-card:nth-of-type(4) i {
animation-delay: .3s;
}

.manga-card:nth-of-type(5) i {
animation-delay: .4s;
}

.manga-card:nth-of-type(6) i {
animation-delay: .5s;
}
