#mainpage {
	min-width:320px;
}

.userbg {
	position:relative;
	width:100%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	height:300px;
}
.userabout {
	transform:translateY(-24px);
	margin:0px auto;
	padding-right:72px;
	padding-left:72px;
	display:flex;
	flex-flow:column;
}
.userimg {
	margin-top:-24px;
	margin-right:-24px;
	display:block;
	border-radius:50%;
	flex:0 0 auto;
	overflow:hidden;
	width:96px;
	height:96px;
	border:2px solid rgb(255,255,255);
	margin:-2px;
	position:relative;
}
.userimg img {
	position:absolute;
	display:block;
	content:"";
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.02);
	width:96px;
	aspect-ratio:auto
	96 / 96;
	height:96px;
}
.username-user {
	flex:1 1 0%;
	grid-template-columns:1fr
	auto;
	display:grid;
	grid-auto-flow:column;
	grid-auto-columns:auto;
	-webkit-box-pack:start;
	justify-content:start;
	-webkit-box-align:center;
	align-items:center;
	gap:8px;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	display:flow-root;
	color:rgba(0,0,0,0.88);
	margin:0px;
	padding-bottom:24px;
	padding-top:12px;
}
.edit {
	display:grid;
	-webkit-box-align:center;
	align-items:center;
	grid-auto-flow:column;
	grid-auto-columns:auto;
	column-gap:8px;
}
.edit-button {
	padding:9px 24px;
	line-height:22px;
	border:none;
	border-radius:100vw;
	font-size:14px;
	font-weight:700;
	background-color:#fff;
	-webkit-transition:background-color
	.2s;
	transition:background-color .2s;
	color:#666;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	background-color:#f5f5f5;
}

.uid {
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	margin:0;
	padding:0;
}
.uid ul {
	list-style-type:disc;
	margin-block-start:1em;
	margin-block-end:1em;
	margin-inline-start:0px;
	margin-inline-end:0px;
	padding-inline-start:40px;
}
.uid li {
	list-style:none;
	margin-right:8px;
	
}
.uid > ul > li > div {
	font-size:20px;
	font-weight:700;
	color:#333;
	margin-right:8px;
	line-height:1;
}
.uid-plane {
	width:1016px;
	transform:translateX(-40px);
}
.uid-plane
	.uid-box {
	padding-bottom:40px;
	width:808px;
	box-sizing:border-box;
}
.uid-plane
	.plane-box {
	display:grid;
	grid-template-columns:100%;
	gap:16px;
}
.uid-plane
	.plane-text1 {
	display:grid;
	grid-auto-flow:column;
	-webkit-box-align:center;
	align-items:center;
	-webkit-box-pack:start;
	justify-content:start;
	gap:4px;
}
.uid-plane .plane-text2 {
	font-size:14px;
	line-height:22px;
	display:flow-root;
	color:rgba(0,0,0,0.32);
}
.plane-img {
	stroke:none;
	fill:rgb(173,173,173);
	width:10px;
	height:12px;
	line-height:0;
	font-size:0px;
	vertical-align:middle;
}
#followpage{
	padding: 0px 0px 48px;
    min-height: 100vh;
}
#followpage .nav-box{
	margin: 0px auto;
    padding-right: 72px;
    padding-left: 72px;
}
#followpage .nav{
    margin: 0px auto;
}
#followpage .nav > nav{
	display: flex;
    -webkit-box-pack: start;
    justify-content: start;
}
#followpage .manga{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.32);
    text-decoration: none;
    border-top: 4px solid transparent;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
	border-top: 4px solid rgb(0, 150, 250);
    color: rgba(0, 0, 0, 0.88);
}
.manga-box{
	margin: 0px auto;
    padding-right: 72px;
    padding-left: 72px;
}
.manga-inbox{
	margin: 0px auto;
    padding-top: 36px;
    padding-bottom: 64px;
	display: block;
}
.manga-box-title-box{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.manga-box-title-inbox{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 12px;
}
.manga-box-title{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: start;
}
.manga-box-title h2{
	font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.64);
    font-weight: bold;
    margin: 0px;
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.follow-numbox{
	margin-left: 8px;
}
.follow-num{
	display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    box-sizing: border-box;
    height: 20px;
    min-width: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0px 6px;
    background: rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    font-size: 10px;
    line-height: 10px;
}
.mangalist-box{
	width: 1016px;
}
.mangalist-box ul{
	display: flex;
    padding: 0px;
    flex-wrap: wrap;
    margin: -12px;
    list-style: none;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.mangalist-box li{
	margin: 12px;
    width: 184px;
    order: 1;
	display: list-item;
    text-align: -webkit-match-parent;
}
.manga-imgbox{
	width: 184px;
}
.manga-imginbox{
	position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.manga-onimgbox{
	position: relative;
    z-index: 0;
    width: 184px;
    height: 184px;
}
.manga-onimgbox > a{
	text-decoration: none;
    color: inherit;
}
.manga-img{
	position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.manga-img > img{
	width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    transition: opacity 0.2s ease 0s;
	object-fit: cover;
    object-position: center center;
}
.manga-title{
	display: flex;
    margin-top: 4px;
}
.manga-title > a{
	display: inline;
    max-width: 100%;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.88);
    transition: color 0.2s ease 0s;
}
.author-box{
	display: flex;
    margin-top: 4px;
}
.author-inbox{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 0px;
}
.author-imgbox{
	margin-right: 4px;
}
.author-imgbox > a{
	color: inherit;
    text-decoration: none;
}
.author-img{
	display: block;
    border-radius: 50%;
    flex: 0 0 auto;
    overflow: hidden;
    width: 24px;
    height: 24px;
    position: relative;
}
.author-img > img{
	width: 24px;
    aspect-ratio: auto 24 / 24;
    height: 24px;
	border-style: none;
	object-fit: cover;
    object-position: center top;
}
.author-text{
	display: block;
    min-width: 0px;
    line-height: 22px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.64);
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mangalit-box li{
	margin: 12px;
    width: 184px;
    order: 1;
}
.mangalit-box ul{
	display: flex;
    padding: 0px;
    flex-wrap: wrap;
    margin: -12px;
    list-style: none;
}